@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  background-color: #d43eb428;
  font-family: "Playfair Display", serif;
}

h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

header {
  background-color: #b3abab;
}