@use 'variabler';
@use 'globals';
img {
  width: 200px;
  height: 200px;
  padding-right: 1rem;
  object-fit: cover;
}

#img-container {
  position: relative;
  display: inline-block;
  margin: 0.5rem;
}

#img-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#img-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color:$white;
  background:$background-dogtext;
  text-align: center;
  font-size: 1rem;
  padding: 0.2rem 0;
  font-family: "Playfair Display", serif;
}